.container {
    text-align: center;
}

table {
    margin: 0 auto;
    padding-top: 10px;
    gap: 16px;
    /*border-collapse: collapse;*/
    border-spacing: 40px 15px;
    width: 50%;
    text-align: left;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    position: relative;
}

.searchInput {
    flex: 1;
    padding: 10px 35px;
    margin-right: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.searchBar span.left {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.searchBar span.right {
    position: absolute;
    right: 15px;
    top: 55%;
    transform: translateY(-50%);
}

.searchIcon {
    width: 20px;
    height: 20px;
}
